* {
	font-size: 1.3rem;
}
pre {
	background: silver;
}
.green {
	color: green;
}
li:nth-child(odd) {
	background: #e1e6e5;
	margin: 1rem 0;
}
#container{
	width: 800px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid black;
	overflow: hidden;
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	display: flex;

}
img{
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	transition: all .5s linear;

}
