* {
	font-size: 1.3rem;
}
pre {
	background: silver;
}
.green {
	color: green;
}
li:nth-child(odd) {
	background: #e1e6e5;
	margin: 1rem 0;
}
#container{
	width: 800px;
	margin: 0 auto;
}
button, input{
	margin: 10px;
	border-radius: 10px;
	padding: 20px;
	width: 200px;
}
input{
	width: 400px;
}
.error{
	width: 640px;
	background-color: red;
	border-radius: 15px;
	padding: 10px;
	margin: 10px;
}