body{
  font-family: 'Star Jedi', arial;
	width: 65%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	margin-top: 20px;
	gap: 5px;
	justify-items: center;
	background-image: url("https://i.pinimg.com/originals/40/c7/12/40c712e5f3833bc38dbe1213da27069e.jpg");

}
.card{
	text-align: center;
	color: #FFD94C;
	border-top: 1px solid #FFD94C;
	padding: 20px;
	min-width: 200px;
	transition: all .1s linear;

}
.card>div{
	padding: 10px;
}

.savebutton{
	cursor: pointer;
	background-color: transparent;
	height: 35px;
	color: #FFD94C;
	border: 1px solid #FFD94C;
	transition: all .3s linear;

}