#hoverdiv {
	background-color: green;
	height: 200px;
}

#btncontainer {
	margin: 20px;
}

#btncontainer>button {
	width: 200px;
	height: 50px;
}

#movingdiv {
	position:absolute;
	background-color: yellow;
	width: 200px;
	height: 200px;
	transition: all .05s linear;
}
input[type=color]{
margin-top: 220px;
}
input[type=text]{
	height: 25px;
	width: 250px;
	margin-top: 10px;
	display: block;
}